button.activeWhite{
        background: #CCC;    
}

button.activeBlack{
        background: #333;
 
} 

canvas{
        display: flex;
        flex-direction: row;
        position: absolute;
        border-radius: 3px;
}

div.label{
        position: absolute;
        top: 140px;
        left: 936px;
        font-size:12px;
        z-index: 10;

}

div.label1{
        height: 20px;
        width: 52px;
        position: absolute;
        top: 150px;
        left: 824px;
        font-size:16px;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        border:3px solid #000;
        z-index: 3;
        display: flex;
        align-content: center;        
       
}


