
@import 'BootstrapNOLESS';
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap');

.main {
   
    height: 100%;
    overflow: hidden;
    .homepage {
        section {
            padding: 50px 20px;
            height: 100vh;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            .left ,
            .right {
                flex-basis: 50%;
                padding: 20px;
                h1 {
                  font-size: 42px;
                }
                p {
                  font-size: 21px;
                }
          
                img {
                    padding: 0;
                    position: relative;
                    max-width: 30vw;
                    max-height: 18vh;
                    
                }
                

            }
            
        }
        .numberOne {
            //background-color: rgba(223, 223, 235, 0.842);            
            color: balck;
        }
        .numberTwo {
            background-color: rgb(255, 255, 255);
            color: black;
        }
       
     
    }
    
}